---
title: titles.api-def
section: titles.api-def
namespace: apidefinitions
permalink: /apidefinitions/
---

{% assign sorted_collections = site.collections | where:'title', "API Definitions" %}
{% for collection in sorted_collections %}
	{% assign sorted_docs = collection.docs | sort: "position" %}
	{% for doc in sorted_docs %}
		<section id="section-{{doc.id | slugify}}" class="row {{ doc.id | slugify }}">
			<h3>
				<a id="{{ doc.id | slugify }}">
					{% t doc.title %}
					{% if doc.type %}
						<span class="endpoint {{ doc.type }}"></span>
					{% endif %}
				</a>
			</h3>
			{% if doc.description %}
				<p class="description">{% t doc.description %}</p>
			{% endif %}

			{{ doc.content | replace: "<dl>", "<h6>Parameters</h6><dl>" }}
		</section>
	{% endfor %}
{% endfor %}
