---
title: titles.home
---
{% assign sorted_nav = site.data.nav.toc | sort: "position" %}
{% for nav in sorted_nav %}
	{% unless nav.exclude %}
		{% assign col = site.collections | where:"id", nav.collection  | first %}
		{% if col %}
			{% assign sorted_docs = col.docs | sort: "position" %}
			{% for doc in sorted_docs %}
				{% unless doc.exclude %}
					<section id="section-{{doc.id | slugify}}" class="row {{ doc.id | slugify }}">
						<section class="row">
								<h3>
									<span id="{{ doc.id | slugify }}" class="heading-anchor">
										{% t doc.title %}
										{% if doc.type %}
											<span class="endpoint {{ doc.type }}"></span>
										{% endif %}
									</span>
								</h3>
							{% if doc.description %}
								{% capture description %}{% t doc.description %}{% endcapture %}
								<div class="description">{{ description | markdownify }}</div>
							{% endif %}

							{{ doc.content | replace: "<dl>", "<h6>Parameters</h6><dl>" }}
						</section>
					</section>
				{% endunless %}
			{% endfor %}
		{% endif %}
	{% endunless %}

{% endfor %}
